body {
    background-color: salmon;
    font-family: 'Quicksand', sans-serif;
}

#mainNavbar .nav-link:hover {
    color: wheat;
}

#mainNavbar .nav-link {
    color: black;
    font-size: 25px;
}

#mainNavbar {
    background-color: rgb(255, 116, 101);
}

#mainSlogan {
    color: wheat;
    font-size: 30px;
}

#mainImage {
    margin-top: 20%;
    width: 400px;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-right: 0;
}

p {
    font-size: 16wpx;
}

#introText {
    margin-top: 20%;
    padding-left: 1%;
    border-left: 5px solid wheat;
}

#mainForm {
    margin-top: 20%;
}

#icons {
    color: black;
}

strong {
    color: crimson;
}

#mainWelcome {
    margin-top: 20%;
    text-align: center;
    font-size: 200px;
}